<!DOCTYPE html>
<html>

<head>
    {%- auth0:head -%}
    <title>{{ prompt.screen.texts.pageTitle }}</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- default styling -->
    <link rel="stylesheet" href="https://ul-public-assets.s3.us-east-1.amazonaws.com/brands/default/stylesheet.css">

    <!-- brand specific styling  -->
    {% if application.metadata.stylesheet_uri %}
    <link rel="stylesheet" href="{{ application.metadata.stylesheet_uri }}">
    {% endif %}

    <!-- brand specific specific javascript code -->
    {% if application.metadata.js_uri %}
    <script type="text/javascript" src="{{application.metadata.js_uri}}"></script>
    {% endif %}

</head>

<body class="_widget-auto-layout">
    {%- auth0:widget -%}
</body>

</html>